<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package
    Name="SMFTrace"
    Manufacturer="SMF Trace"
    Version="1.0.0"
    UpgradeCode="5A4C4F69-4DF2-4C25-8C6B-0E9E2E5B8E9A">

    <MajorUpgrade DowngradeErrorMessage="A newer version of SMFTrace is already installed." />
    <MediaTemplate />

    <Feature Id="MainFeature" Title="SMFTrace" Level="1">
      <ComponentGroupRef Id="AppFiles" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="SMFTrace" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <UI>
      <ui:WixUI Id="WixUI_Advanced" />
    </UI>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <SetProperty Id="INSTALLFOLDER" Value="[LocalAppDataFolder]SMFTrace\" Condition="ALLUSERS=''" Before="CostFinalize" />
  </Fragment>
</Wix>
